# Python
.venv/
*.pyc
*.pyo
*.pyd
__pycache__/

# Vs Code
.vscode/

# Poetry
.cache/pypoetry/*

# Enviroment
.env

# Git
.git

# Etc
*.ps1
*.log
db/
assets/
tests/

# Dont ignore 
!assets/markdown/images/
!deploy.ps1